/* font */
@font-face {
    font-family:'Metropolis Bold';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-SemiBold.woff);
}
@font-face {
    font-family:'Metropolis Thin';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-ThinItalic.woff);
}
@font-face {
    font-family:'Metropolis Med';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-Medium.woff);
}

/* style */
*,
*::before,
*::after {
    box-sizing: content-box;
    font-family: 'Metropolis Med', sans-serif;
}
body{
    letter-spacing: 0.7px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-white);
    background-image: 
        url(../img/bg.png);
        opacity: .4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header #title{
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 1.2;
    transform: scale(0.8);
}
h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}
#description {
    font-style: italic;
    font-weight: 200;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: black;
}
form{
    text-align: center;
    align-items: center;
    margin: 40px auto;
    background-color: white;
    padding: 2.5rem 2.5rem;
    border-radius: .7rem;
    box-shadow: 0 0 0 4px #eee;
}
.container{
    margin-top: 2.8rem;
}
.container h4{
    text-align: center;
}
form a{
    text-decoration: none;
    color: black;
}
form .btn{
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    margin: 3rem 1rem 2rem;
    color: black;
    font-size: 1.4rem;
    background-color: lavender;
}
footer{
    color: rgb(0, 0, 0);
    margin: 60px auto 30px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.bi{
    color: lightgreen;
}


/* responsive */
@media screen and (min-width: 320px) and (max-width: 384px) {
    body{
        overflow-x: hidden;
    }
    form{
        width: 60%;
    }
    form .btn{
        transform: scale(0.7);
        margin: auto;
        margin-left: -15px;
    }
    footer{
        margin-left: 15px;
    }
} 
@media screen and (min-width: 384px) and (max-width:666px) {
    body{
        overflow-x: hidden;
    }
    form{
        width: 70%;
    }
}
@media screen and (min-width: 667px) and (max-width:990px) {
    body{
        overflow-x: hidden;
    }
    form .btn{
        transform: scale(0.7);
        margin-left: -40px;
    }
}